#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* General styles for the page layout */
.a4-container {
  width: 280mm;
  height: 297mm;
  margin: 0 auto;
  padding: 20mm; /* Padding inside the A4 page */
  box-sizing: border-box;
}

.content-section {
  margin: 10mm 0; /* Space between sections */
}

/* Print styling */
@media print {
  @page {
    size: A4;
    margin: 0; /* Reset margins for A4 paper size */
  }

  body,
  html {
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
    width: auto; /* Ensure it fits */
    height: auto; /* Ensure it fits */
  }

  .a4-container {
    width: 100%; /* Use full width for printing */
    height: auto; /* Let height adjust based on content */
    padding: 5mm; /* Reduce padding for print */
  }

  .print-button {
    display: none; /* Hide print button when printing */
  }

  /* Ensure all sections fit inside the page */
  .content-section {
    margin: 10mm 0; /* Maintain spacing between sections */
  }
}
